/* Universal customization*/
body {
    background-color: #000814;
    color:#dee3ed;
    min-height: 100vh;
    height:100%;
    display: flex;
    flex-direction: column;
}

/*Navbar colors, "a" is for text customization*/
.navbar {
    background-color: #003566;
}
.navbar a {
    color: #dee3ed;
}

.navbar a:hover {
    color: beige;
}
/*Color for active page on the navbar*/
.active {
    color:beige !important
}
/* Footer color and text orientation*/
footer{
    background-color: #003566;
    color: #dee3ed;
    text-align: center;
    margin-top: auto;
}


/* Index.html content */
/*Carousel customization*/
.carousel{
    width: 45%;
}
.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}