body {
    background-color: #000814;
    color:#dee3ed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #003566;
}

.navbar a {
    color: #dee3ed;
}

.navbar a:hover {
    color: beige;
}

.active {
    color:beige !important
}

.carousel{
    width: 45%;
}

footer{
    background-color: #003566;
    color: #dee3ed;
    text-align: center;
    margin-top: auto;
}

.cactus {
    height: 500px; width: auto
}