body {
    background-color: #000814;
    color:#dee3ed;
}

.navbar {
    background-color: #003566;
}

.navbar a {
    color: #dee3ed;
}

.navbar a:hover {
    color: beige;
}

.active {
    color:beige !important
}

.cactus {
    height: 500px; width: auto
}